.container {
  display: flex;
  margin: 4em 0 0 0;
  width: 100%;
  height: 100%;
  padding: 14px 21px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: #1C141E;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.container button {
  margin: 0;
  width: 20%;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  background: none;
  margin-left: 7px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--border);
}