.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container section {
  padding: 0px 22px;
}

.container > section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container section > img {
  width: 25%;
  min-width: 460px;
}


.splash {
  height: 80vh;
  justify-content: center;
}

.splash img {
  height: 200vh;
  justify-content: center;
}

.about {
  height: 430px;
  background-color: #2D1F32;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
}


.about header {
  margin: 0;
  width: 100%;
  display: flex;
  padding: 50px 0px;
  align-items: center;
  flex-direction: column;
}

.about article {
  width: 100%;
  max-width: 1000px;
}

.about article p {
  margin: 0;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
}

.container section > header * {
  margin: 0px;
  font-weight: 600;
}

.container section > header h1 {
  margin: 5px;
  font-size: 36px;
  letter-spacing: 2px;
}

.container section > header h3 {
  font-size: 16px;
  color: #00a0df;
}



@media only screen and (max-width: 1024px) {
  .about {
    height: 420px;
  }
} 

@media only screen and (max-width: 912px) {
  .about {
    height: 460px;
  }
} 

@media only screen and (max-width: 540px) {
  .about {
    height: 560px;
  }
} 

@media only screen and (max-width: 414px) {
  .about {
    height: 660px;
  }
  .container section > img {
    min-width: 340px;
  }
} 

@media only screen and (max-width: 300px) {
  .about {
    height: 800px;
  }
  .container section > img {
    min-width: 340px;
  }
} 