.cryptiddescription {
  max-width: 150px;
  text-align: center;
}

.cryptidescriptionphoto {
  max-width: 80px;
  margin-top: 22px;
  margin-bottom: 10px;
  position: relative;
}

.cryptidCardNameH2 {
  float: right;
  margin-top: 2em;
  padding: 0;
}