.cryptiddescription {
  max-width: 150px;
  text-align: center;
  justify-content: center;
}


.cryptidescriptionphoto {
  max-width: 80px;
  margin-top: 22px;
  margin-bottom: 10px;
  position: relative;
}
