.sightingCardContainer {
  /* width: 100%; */
  max-width: 100%;
  height: 220px;
  padding: 14px 21px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: #1C141E;
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  box-shadow: 5px 4px 22px 0 rgba(0, 0, 0, 0.994);
}

.sightingCardContainer:hover {
  background-color: #271d29;
}

.sightingCardContainer header {
  margin-bottom: 14px;
}

.sightingCardContainer span {
  display: flex;
  align-items: center;
  margin: 7px 0px 12px 0px;
  justify-content: space-between;
}

.sightingCardContainer span img {
  margin: 0;
  width: 32px;
	height: 32px;
  opacity: .8;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid var(--border);
}

.sightingCardContainer h1 {
  margin: 0;
  font-size: 19px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.sightingCardContainer p {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
	word-break: break-all;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.sightingCardContainer div h4 {
  font-size: 14px;
  margin-bottom: 2px;
}

.sightingCardContainer div h5 {
  font-size: 11px;
}

.sightingCardContainer div > img {
  width: 30px;
	height: 30px;
	object-fit: cover;
}

.sightingCardContainer div section img {
  width: 14px;
	height: 14px;
}
