.container {
  height: 100%;
  display: flex;
  overflow: hidden;
  padding: 28px 21px;
  align-items: center;
  flex-direction: column;
}

.container textarea, button { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}

.container button {
  color: white;
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: var(--primary);
}

.container a {
  border: none;
  font-size: 14px;
  background: none;
  font-weight: 500;
  margin-top: 14px;
  text-align: center;
  color: rgb(200, 200, 200);
}