.cryptidinfo {
  max-width: 150px;
}

.cryptidname {
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}

.cryptidinfo {
  margin-top: 22px;
  margin-bottom: 10px;
}

.cryptiddiv {
  text-align: center;
}