.cryptidinfo {
  max-width: 150px;
}

.cryptidname {
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.cryptidinfo {
  margin-top: 22px;
  margin-bottom: 10px;
  position: relative;
}