
.editSightingForm {
  margin: 50px 8em 0 8em;
  border-radius: 10px;
  background-color: #1C141E;
  box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.994);
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 28px 21px;
  align-items: center;
  flex-direction: column;
}

label {
  text-align: left;
  justify-content: left;
  align-items: left;
}


.editContainer textarea, select, editButton { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 40px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
  border-style: solid;
  border-color: #FDF1DE;
  border-width: 1px;
}

.editSightingInput {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 40px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
  border-style: solid;
  border-color: #FDF1DE;
  border-width: 1px;
  background-color: #1C141E;
}

.editButton{
    font-family: Amarante;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    background-color: #6C5075;
    color: #FDF1DE;
    cursor: pointer;
    margin: 2em;
}

.editSightingText {
  margin: 3em 0 0 0;
}






input:focus, select:focus {
  outline: none;
  border: 1px solid var(--primary);
}