.editReviewCard {
  position: relative;
  margin-left: 30em;
  margin-right: 32em;
  margin-top: 12em;
  margin-bottom: 10em;
  width: 50%;
  padding: 80px 80px 100px 80px;
  border-radius: 18px;
  border: 1px solid var(--border);
  background-color: #1C141E;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.70);
  justify-content: center;
}

textarea {
  color: #FDF1DE;
  margin-top: 1em;
}

.editReviewText {
  padding: 1em;
  font-size: larger;
}

.editReviewSubmitBtn:hover {
  background-color: #4e3954 ;
}

@media only screen and (max-width: 100px) {
  .editReviewCard {
    width: 100%;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    font-size: small;
  }
}