.cryptidDetailsTextDiv {
  margin: 3em 0 0 0;
  font-size: 2em;
  padding: 20px;
  }

  .cryptidDetailsImg {
    height: 80px;
    float: left;
    margin: 20px 0 20px 0;
  }
  
  .cryptidDetailsMainContainer {
    margin: 4em 6em 6em 6em;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cryptidDetailsH1 {
    font-size: 30px;
  margin: 20px;
  margin-bottom: 3px;
  }


  .cryptidReviewsContainer {
    width: 100%;
    margin: 5em;
    padding: 21px 21px 0 21px;
    display: flex;
    max-width: 700px;
    flex-direction: column;
    background-color: #1C141E;
    box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.994);
  }



.reviewCardsContainer{
  margin: 2em;
  padding: 5em;
}

  .cryptidDetailsArticle {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1C141E;
    box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.994);
    border-radius: 15px;
    padding: 30px;
  }
  
  .cryptidDetailsContainer p {
    text-indent: 21px;
    text-align-last: left;
    word-break: break-all;
  }
  
  .cryptidDetailsContainer header {
    display: flex;
    margin-bottom: 21px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .cryptidDetailsContainer  {
    margin: 0;
    margin-bottom: 7px;
  }
  .cryptidNameH1 {
    font-size: 30px;
    margin: 15px 0 0 0;
    margin-bottom: 3px;
    height: 50px;
    width: 50px;
  }
  
  .cryptidDetailsContainer h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .cryptidDetailsContainer span {
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  
  
  .cryptidDetailsContainer span button, .cryptidDetailsContainer span a {
    margin: 0;
    width: 20%;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    background: none;
    margin-left: 7px;
    border-radius: 5px;
    text-align: center;
  }
  
  .cryptidDetailsContainer span button, .cryptidDetailsContainer span a  {
    cursor: pointer;
  }
  
  .cryptidDetailsContainer > section article {
    padding: 0;
    width: 100%;
    min-height: 140px;
    border-radius: 5px;
    margin: 4px 0px 14px;
  }
  
  .cryptidDetailsContainer > section h1 {
    font-size: 21px;
  }
  
  .cryptidDetailsContainer > section article p {
    text-indent: 0px;
  }

