.container {
    padding: 10px;
    gap: 74px;
    width: 100%;
    display: grid;
    padding: 31px;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 7px 6px 8px rgba(0, 0, 0, 0.70);
    row-gap: 20px;

  }


/* section {
  height: 500px;
} */



 /* @media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* @media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* @media only screen and (max-width: 1500px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}  */