.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 21px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 100%;
  margin-bottom: 60px;
}

@media only screen and (max-height: 600px) {
  .container img {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 500px) {
  .container img {
    max-width: 460px;
  }
}