.authorContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.authorContainer * {
  margin: 0;
}

.authorProfileImg {
  object-fit: cover;
  margin-right: 12px;
}

.authorContainer  {
  opacity: 0.75;
}
.authorName {
font-size: 20px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

.authorInfoSection {
  display: flex;
  flex-direction: column;
}

.Icon {
  object-fit: cover;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}