.authorContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.authorContainer * {
  margin: 0;
}

.authorContainer > img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 12px;
  border-radius: 50%;
  background-color: var(--background);
}
.authorProfileImg {
  
}

.authorContainer  {
  opacity: 0.75;
}
.authorName {
font-size: 20px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
}


.authorContainer section {
  display: flex;
  flex-direction: column;
}