*,
*::before,
*::after {
  box-sizing: inherit;
}
body > nav {
  z-index: 2;
}
body > main {
  z-index: 1;
}

body {
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;

  font-family: Amarante, sans-serif;

  color: #FDF1DE;
  background-color: #2D1F32;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100vh;
}

a,
a:visited {
  color: #FDF1DE;
  text-decoration: none;
}
button {
  font-family: Amarante;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 5px;
  background-color: #6C5075;
  color: #FDF1DE;
  cursor: pointer;
}
h1 {
  text-align: center;
  font-size: 2em;
}
