.newCommentContainer {
  display: flex;
  height: 140px;
  width: 100%;
  padding: 14px 21px;
  border-radius: 15px;
  background-color: #1C141E;
}

.commentButton{
  background-color: transparent;
  width: 15px;
  padding: 43px 5px 5px 15px;
  width: 10%;
  float: right;
}